<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Control de Gastos</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/resumen" >Resumen</a></li>
        <li routerLinkActive="active"><a routerLink="/movs-banco" >Banco</a></li>
        <li routerLinkActive="active"><a routerLink="/movs-efectivo" >Efectivo</a></li>
        <li routerLinkActive="active"><a routerLink="/rubros-banco">Rubros Banco</a></li>
        <li routerLinkActive="active"><a routerLink="/rubros-efectivo">Rubros Efectivo</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Usuario</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="pull-right hor-space">
  <label>
    <!--{{ 'HOME.SELECT' | translate }}-->
    <select class="form-control input-sm" #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </label>
</div>



<router-outlet></router-outlet>